* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    padding: 100px;
    line-height: 1.4;
}

.caja {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #ac1818;
    margin-bottom: 10px;
}
h4 {
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
}

hr {
    width: 90%;
    margin: 10px auto 20px auto;
}

p {
    text-align: center;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: 15px auto;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
